input:focus {
    outline: 2px solid blueviolet;
}

input:invalid:not(:focus) {
    outline: 2px solid red;
}

a:link {
    color: red;
}
 a:visited {
    color: green; 
 }

 button:hover {
    background-color: cadetblue;
 }