Below are examples of pseudo Elements

p::before {
    content: "()=>";
}

p{
    width: 60ch;
}

 #blue{
    width: 50vw;
    background-color: blue;
 }

 #red {
    width: 50%;
    background-color: red;
 }

 #green {
    width: 10rem;
    background-color: green;
 }

div {
    margin: 10px;
    color: white;
}
 #parent {
    width: 50%;
    border: 2px solid black;
 }

Below are examples of Pseudo classes

p:nth-of-type(1){
    color: midnightblue;
}
/* p:first-of-type {
    color: orange;
} */

p:first-child{
    color: purple;
}

input:focus {
    outline: 2px solid blueviolet;
}

input:invalid:not(:focus) {
    outline: 2px solid red;
}

a:link {
    color: red;
}
 a:visited {
    color: green; 
 }

 button:hover {
    background-color: cadetblue;
 }